html, body {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	margin-top: 15px;
}
body {
	-webkit-transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	-webkit-transform-style: preserve-3d;
	height: 100%;
	width: 100%;
	background-color: transparent;
}
#background {
	height: 100%;
	width: 100%;
	background-color: transparent;
	background-image: url("assets/background.jpg");
	background-repeat: no-repeat;
	background-position: center top;
}
a {
	color: rgb(88, 77, 77);
	text-decoration: none;
}
a:visited {
	color: rgb(121, 121, 121);
	text-decoration: none;
}
a:hover {
	color: rgb(0, 0, 0);
	text-decoration: none;
}
ul li:before { 
	content: "-"; 
	position: relative; 
	left: -10px; 
}
ul li { 
	text-indent: -5px; 
	list-style-type: none; 
}
.gwd-div-wa70 {
	height: auto;
	left: 0px;
	position: absolute;
	top: 0px;
	width: auto;
}
.gwd-div-6vke {
	height: auto;
	left: 0px;
	position: absolute;
	top: 0px;
	width: auto;
}
.gwd-div-ouct {
	height: auto;
	left: 0px;
	position: absolute;
	top: 0px;
	width: auto;
}
.gwd-img-avho {
	position: absolute;
	-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	-webkit-transform-style: preserve-3d;
	height: 35px;
	width: 130px;
	left: 860px;
	top: 210px;
}
.gwd-div-cg6h {
	position: absolute;
	text-align: left;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 22px;
	left: 300px;
	top: 90px;
}
.gwd-div-71tw {
	position: absolute;
	text-align: left;
	color: rgb(0, 0, 0);
	font-family: Helvetica;
	left: 300px;
	top: 170px;
}
.gwd-div-pins {
	position: absolute;
	text-align: left;
	color: rgb(0, 0, 0);
	font-family: Helvetica;
	left: 300px;
	top: 70px;
}
.gwd-p-k7w4 {
	-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	-webkit-transform-style: preserve-3d;
}
.gwd-span-7ym8 {
	font-weight: bold;
}
.gwd-span-w365 {
	font-style: italic;
}
.gwd-img-bc2c {
	position: absolute;
	height: 130px;
	width: 280px;
	left: 10px;
	top: 70px;
}
.gwd-img-2ws2 {
	position: absolute;
	width: 1000px;
	height: 5px;
	left: 0px;
	top: 2px;
}
.gwd-img-ewv2 {
	width: 1000px;
}
.gwd-img-gqsl {
	position: absolute;
	width: 1000px;
	height: 5px;
	left: 0px;
	top: 257px;
}
.gwd-div-n77o {
	position: absolute;
	width: 911px;
	color: rgb(0, 0, 0);
	height: 1000px;
	font-family: Helvetica;
	text-align: justify;
	left: 47px;
	top: 300px;
}
.gwd-span-5glo {
	font-family: sans-serif;
}
.gwd-span-p7lv {
	font-family: sans-serif;
}
.gwd-span-p15j {
	font-family: sans-serif;
}
.gwd-span-wflp {
	font-family: sans-serif;
}
.gwd-span-1rot {
	font-family: sans-serif;
}
.gwd-span-oly1 {
	font-family: sans-serif;
}
.gwd-span-jlfd {
	font-family: sans-serif;
}
.gwd-span-0p2r {
	font-family: sans-serif;
}
.gwd-span-2vrb {
	font-family: sans-serif;
}
.gwd-span-s3fc {
	font-family: sans-serif;
}
.gwd-span-qjse {
	font-family: sans-serif;
}
.gwd-span-9afu {
	font-family: sans-serif;
}
.gwd-span-d0zf {
	font-family: sans-serif;
}
.gwd-span-dwwd {
	font-family: sans-serif;
}
.gwd-span-abag {
	font-family: sans-serif;
}
.gwd-span-7l7e {
	font-family: sans-serif;
}
.gwd-span-7508 {
	font-family: sans-serif;
}
.gwd-span-s063 {
	font-family: sans-serif;
}
.gwd-span-tl3n {
	font-family: sans-serif;
}
.gwd-span-aqdq {
	font-family: sans-serif;
}
.gwd-span-duj3 {
	font-family: sans-serif;
}
.gwd-span-flgc {
	font-family: sans-serif;
}
.gwd-span-xfob {
	font-family: sans-serif;
}
.gwd-span-rm99 {
	font-family: sans-serif;
}
.gwd-span-h8lv {
	font-family: sans-serif;
}
.gwd-span-eymr {
	font-family: sans-serif;
}
.gwd-span-4hqr {
	font-family: sans-serif;
}
.gwd-span-j8px {
	font-family: sans-serif;
}
.gwd-div-dx29 {
	position: absolute;
	font-family: 'Times New Roman';
	text-align: left;
	color: rgb(0, 0, 0);
	height: 30px;
	width: 150px;
	left: 241px;
	top: 266px;
}
.gwd-span-k8em {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 18px;
}
.gwd-div-urfj {
	text-align: center;
}
.gwd-span-o94u {
	font-family: Helvetica;
	font-size: 18px;
	font-weight: bold;
}
.gwd-div-urmt {
	height: 21px;
	width: 150px;
	-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	-webkit-transform-style: preserve-3d;
}
.gwd-span-zdk3 {
	width: auto;
	-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	-webkit-transform-style: preserve-3d;
}
.gwd-span-6ua8 {
	font-family: Helvetica;
	font-size: 18px;
}
.gwd-span-6ua9 {
	font-family: Helvetica;
	font-size: 18px;
	color: #D7D7D7;
}
.gwd-div-welcome {
	left: 10px;
	width: 300px;
	top: 265px;
	height: 24px;
}
.gwd-div-schedule {
	left: 170px;
	width: 300px;
	top: 265px;
	height: 24px;
}
.gwd-div-proceedings {
	left: 330px;
	width: 300px;
	top: 265px;
	height: 24px;
}
.gwd-div-program {
	left: 520px;
	width: 300px;
	top: 265px;
	height: 24px;
}
.gwd-div-submit {
	left: 700px;
	width: 300px;
	top: 265px;
	height: 24px;
}

.small-skip {
	margin-bottom: 2px;
}
